/* patient.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:  #e6f7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 36px;
    color: #004466;
    margin-bottom: 40px;
}

button {
    background-color: #034e74;
    color: white;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button:hover {
    background-color: #082736;
}

@media (max-width: 600px) {
    h1 {
        font-size: 28px;
    }

    button {
        width: 80%;
        font-size: 14px;
    }
}
